<div class="content-container">
  <%= render "shared/navbar" %>

  <div class="main-content">
    <h1>Feed</h1>

    <div class="posts-container">
      <%= render @posts.order(:created_at) %>
    </div>
  </div>
</div>

<style>
    .content-container {
    display: flex;
    }

    .main-content {
    margin-left: 270px;
    margin-right: 70px;
    padding: 20px;
    flex-grow: 1;
    text-align: left;
    }
</style>
