<div class="content-wrapper">
  <h1>Welcome to DigiteerSocMed</h1>

  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= link_to "Create Post", new_post_path, class: "btn btn-createpost" %>
  <% end %>

  <h2>Recent Posts</h2>
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>
